body{font-family:"Inter", sans-serif;margin:0;padding:0;color:#444444;background-color:#FAFAFA;}
        #divbodyholder{padding:24px;width:100%;max-width:874px;}
        #divbody{border:solid 1px #ccc;background-color:#fafafa;padding:0px 18px 24px 18px;top:0;}
        .header{width:100%;max-width:860px;margin:0px 0px 0px 24px;padding-top:24px;padding-bottom:8px;}
        .content{margin-bottom:5%;}
        .nomargin{margin:0;}
        .description{margin-top:10px;border-top:solid 1px #666;padding:10px 0;}
        h3{font-size:20pt;width:100%;font-weight:bold;margin-top:32px;margin-bottom:0;}
        .clear{clear:both;}
        #footer{padding-top:10px;border-top:solid 1px #666;color:#444444;text-align:center;font-size:small;font-family:"Inter", sans-serif;}
        a{text-decoration:none;color:#c0c0c0 !important;}
        a:visited{text-decoration:none;color:#c0c0c0 !important;}
        blockquote{background-color:#f9f9f9;border-left:solid 4px #e9e9e9;margin-left:12px;padding:12px 12px 12px 24px;}
        blockquote img{margin:12px 0px;}
        blockquote iframe{margin:12px 0px;}
        .search_box_container{padding-right:18px;}
        @media screen and (min-width:505px){
            #divbody{padding:0px 48px 24px 48px;}
            .search_box_container{padding-right:48px;}
        }
